html,
body {
    padding: 0;
    margin: 0;
    background: #fff;
}

.entry-header, .entry-footer{
  display: none;
}
.fixed{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #2a2d33; 
  z-index: 3000;
}

body a {
    outline: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    text-decoration: none;
}

body a:hover {
    text-decoration: none;
}

body a:focus,
a:hover {
    text-decoration: none;
}

header > div.header-top > div > div > h1{
	margin-top: 40px;
	float: left;
	height: 50%;
	font-family: roboto;
	font-weight: 400;
	margin-inline-start: 0px;
    margin-inline-end: 0px;	
    color: #fff;
    font-size: 30px; 
}
body > header > div.header-top > div > div > h1:hover{
	cursor: pointer;

}
body > header > div.header-top > div > div > h1 > a > img{
	width: 35px;
  height: 35px;
	margin-right: 5px;
}
header a,
header a:hover{
	color:rgba(239, 239, 239, 0.94);	 
	background:rgba(255, 255, 255, 0);
}

header{
	background: url('../images/top.jpg')no-repeat center;
    background-size: cover;
    height:100%; 
}
body > header > div.header-top > div > nav{
	margin-inline-start: 0px;
    margin-inline-end: 0px;		
}
.navbar-default .navbar-nav > .active > a,
 .navbar-default .navbar-nav > .active > a:hover,
 .navbar-default .navbar-nav > .active > a:focus {
color:rgba(239, 239, 239, 0.94);	 
background:rgba(255, 255, 255, 0);

}
.navbar-default .navbar-nav > .active > a:before{
	background: #ff2d37;
}
.navbar-default .navbar-nav > li > a  {
color: #fff;
letter-spacing: 2px;
padding: 5px 14px;
margin: 0 4px;
font-family: roboto;
font-weight:500;
font-size: 14px;
transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-webkit-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
}

.navbar-nav > li > a {
text-transform: uppercase;

}
.navbar-default .navbar-nav > li > a:hover{
color:#000;
}
.navbar-default .navbar-nav > li > a:focus {
    color:rgb(255, 255, 255);
	outline:none;
}
nav.navbar.navbar-default {
background: none;
padding:0em 0em 1em;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
       color: #262c38;
    background: none;
}
.navbar-nav {
    margin-top: 40px;
}
.navbar-default .navbar-nav  > .active.open > a:focus {
	background:transparent;
	color: #fff;
}

.navbar-default {
    background: none;
    border: none;
}
.navbar {
    margin-bottom: 0;
    margin-top: 9px;
}
.navbar-collapse {
    padding: 0;
}

.header-content{
	margin-top: 150px;
	padding-bottom: 175px;
}

header .content-right{
	margin-top: 35px;
	float: right;
	width: 50%
}

header .content-right > img{
	width: 40%;
	float: right;
	margin-right: 60px;
}

header .content-left{
	float: left;
	width: 50%;
}

header .content-left > h4{
	width: 80%;
	line-height: 1.5;
	color: #c5d2e5;
}

header .content-left > h1{
	color: #fff;
	padding-bottom: 20px;
}
.more-buttn{
	margin-top: 45px;
}
.more-buttn a {
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    display: inline-block;
    background-color:#67bf95;
    outline: none;
    padding: 11px 30px;
	letter-spacing:2px;
	border-radius:7px;
	font-weight: 500;
}
.more-buttn a:hover {
	background-color: rgba(103, 191, 149, 0.6);
	color: rgba(255, 255, 255, 0.8);
}

/* About */
.about{
	margin-top: 50px;
	margin-bottom: 50px;
}
.about_img{
  height: 20%;
	width: 20%;
	float: left;
}

.about .about-text{
	margin-top: 10px;
	width: 55%;
	margin-left: 80px;
}

.about .about-text h1{
	padding-bottom: 20px;
	font-size: 33px;
	color: #37414e;
}
.about .about-text h4{
	line-height: 1.9;
	color: #4b596c;
	font-size: 17px;
}
.about-icons{
	display: inline-block;
	position: absolute;
}
.about-icons svg{
	float: right;
	margin-top: 40px;
	overflow: visible;	
	width: 60px;	
	height: 60px;	
	border-radius:45px;
	padding: 10px;
	border: 3px solid #67bf95;
}
.about-icon{
	fill: #fff;
	background-color:#67bf95;
}

.about-icon2{
	fill: #67bf95;
	border: 3px solid #67bf95;
	margin-top: 55px;
}

/* //About */

/* Intro */
.intro{
	background-color: #52ad81;
}
	.slider{
  		position: relative;
    	overflow: hidden;
    }

    .slider__wrapper {
      margin-bottom: -30px;
      display: flex;
      transition: transform 0.6s ease;
    }

    .slider__item {
      flex: 0 0 100%;
      max-width: 100%;
    }

    .slider__control {
    border-radius:45px;
      position: absolute;
      top: 50%;
      display: none;
      align-items: center;
      justify-content: center;
      width: 50px;
      color: #fff;
      text-align: center;
      height: 50px;
      transform: translateY(-50%);
      background: rgba(0, 0, 0, .5); 
      border: 2px solid #fff;
      background-color: #52ad81;     
    }

    .slider__control_show {
      display: flex;
    }

    .slider__control:hover {
      color: #fff;
      text-decoration: none;
      outline: 0;
      opacity: 0.7;
    }

    .slider__control_left {
      left: 30px;
    }

    .slider__control_right {
      right: 30px;
    }

    .slider__control::before {
      content: '';
      display: inline-block;
      width: 20px;
      height: 20px;
      background: transparent no-repeat center center;
      background-size: 100% 100%;
    }

    .slider__control_left::before {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    }

    .slider__control_right::before {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    }

    .slider__item>div {
      line-height: 250px;
      font-size: 100px;
    }

    .slider__item  img{
    	width: 100% ;
    	vertical-align: bottom;
	}
	

    .intro-text{ 
    	font-family: roboto;
    	color: #fff;   	
    	margin-left: auto;
    	margin-right: auto;
    	width: 6.5em;
    	margin-top: 80px;
    	padding-bottom: 80px
    }

    .intro-text h1{
    	padding-bottom: 10px; 
    	font-weight: 400;
    	font-size: 45px;
    }

    .intro-text h4{
    	font-size: 20px;
    	font-weight: 100;
    }

 /* //Intro */


 /* Offer */
 .offer-text{
 	margin-top: 100px;
 	margin-bottom: 70px;
 	
 }

 .offer-text h1{
 	color: #37414e;
 	text-align: center;
 }

 .offer-text h4{
 	margin-top: 30px;
 	color: #858b93;
 	width: 90%;
 	text-align: center;
 	line-height: 1.7;
 }

 .card{
 	text-align: center;
 }

.card b{
	font-size: 25px;
	font-weight: 600;
 }

 .price{
 	padding-top: 20px;
 	color: rgba(0, 0, 0, .5);
 	padding-bottom: 20px;
 }

 .price h3{
 	line-height: 3;
 }

 .first-card, .fbttn{
 	float: left;
 }

 .price-top{
 	color: #fff;
 	padding: 8px;
 }

 .first-top{
 	background-color: #4b596c; 	
 }

 .first-price{
 	background-color: #e9eef3;
 }

.first-price b{
	color: #4b596c;
}

 .sec-top{
 	background-color: #58ad52;
 }

 .sec-price{
 	background-color: #deebde;
 }

.sec-price b{
	color: #58ad52;
}

 .third-card{
 	float: right;
 }

 .third-top{
 	background-color: #52a1ad;
 }

 .third-price{
 	background-color: #dee9ec;
 }

 .third-price b{
 	color:#52a1ad;
 }

 .offer-buttn{
 	margin-top: 70px; 
 	margin-bottom: 100px;	
 	text-align: center;
 	font-size: 25px;
 }

.pad:hover{
	opacity: 0.7;
	transition-duration: 1s;
}
 .offer-buttn b{
 	font-weight: 400;
 	color: #fff;
 }

.fbttn-clr{	
 	background-color: #4b596c;
 }

.sbttn-clr{
 	background-color: #58ad52;
 }
.tbttn-clr{
 	background-color: #52a1ad;
 }

 .pad{
 	padding: 8px;
 }

 .recommend{
	 background: url('../images/ico/ckeck.svg') center/70% 70% no-repeat;
	 position: absolute;
	 top:-3%;	
	 left: 90%;
	 width: 40px;
	 height: 40px;
  color: #fff;
 	border-radius: 45px ;
 	background-color: #f7ca52;
 }
 /* //Offer */

 /* Video */
 .video-text{
 	text-align: center; 	
 	background-color: #e9eaed;
 	padding: 20px; 	
  margin-bottom: -2px
 }

 .video-text h3{
 	color: #4b596c;
 	font-size: 30px;
 }
 video{
  width: 100% !important;
  height: 100% !important;
 }
 video{
  width: 100% !important;
 }
video{	outline: none;	
}

 video::-webkit-media-controls-enclosure {
  display:none !important;
}
/* .custom-video-controls {
  z-index: 2147483647;
} */
 /* //Video */

 /* contact */
.contact{
	margin-top: -8px;
	background-color: #2d3136;
}

.mail img{ 	
    margin-left: auto;
    margin-right: auto;
    width: 95px;
   background-color: rgb(169, 42, 50);
   box-shadow: rgb(169, 42, 50) -1px 1px,
    rgb(169, 42, 50) -2px 2px,
    rgb(169, 42, 50) -3px 3px,
    rgb(169, 42, 50) -4px 4px,
    rgb(169, 42, 50) -5px 5px,
    rgb(169, 42, 50) -6px 6px,
    rgb(169, 42, 50) -7px 7px,
    rgb(169, 42, 50)-8px 8px,
    rgb(169, 42, 50) -9px 9px,
    rgb(169, 42, 50) -10px 10px,
    rgb(169, 42, 50) -11px 11px,
    rgb(169, 42, 50) -12px 12px,
    rgb(169, 42, 50) -13px 13px,
    rgb(169, 42, 50) -14px 14px,
    rgb(169, 42, 50) -15px 15px,
    rgb(169, 42, 50) -16px 16px,
    rgb(169, 42, 50) -17px 17px,
    rgb(169, 42, 50) -18px 18px,
    rgb(169, 42, 50) -19px 19px,
    rgb(169, 42, 50) -20px 20px,
    rgb(169, 42, 50) -21px 21px,
    rgb(169, 42, 50) -22px 22px,
    rgb(169, 42, 50) -23px 23px,
    rgb(169, 42, 50) -24px 24px,
    rgb(169, 42, 50) -25px 25px,
    rgb(169, 42, 50) -26px 26px,
    rgb(169, 42, 50) -27px 27px,
    rgb(169, 42, 50) -28px 28px,
    rgb(169, 42, 50) -29px 29px,
    rgb(169, 42, 50) -30px 30px,
    rgb(169, 42, 50) -31px 31px,
    rgb(169, 42, 50) -32px 32px,
    rgb(169, 42, 50) -33px 33px,
    rgb(169, 42, 50) -34px 34px,
    rgb(169, 42, 50) -35px 35px,
    rgb(169, 42, 50) -36px 36px,
    rgb(169, 42, 50) -37px 37px,
    rgb(169, 42, 50) -38px 38px,
    rgb(169, 42, 50) -39px 39px,
    rgb(169, 42, 50) -40px 40px,
    rgb(169, 42, 50) -41px 41px,
    rgb(169, 42, 50) -42px 42px,
    rgb(169, 42, 50) -43px 43px,
    rgb(169, 42, 50) -44px 44px,
    rgb(169, 42, 50) -45px 45px,
    rgb(169, 42, 50) -46px 46px,
    rgb(169, 42, 50) -47px 47px,
    rgb(169, 42, 50) -48px 48px,
    rgb(169, 42, 50) -49px 49px,
    rgb(169, 42, 50) -50px 50px;
  font-size: 75px;
  line-height: 150px;
  text-align: center;
}

.mail{
	background-color: #be393b;
	border: 15px solid #383939;
	border-radius: 100px;
	padding: 42px 29px;
	width: 13em;
	display: block;
	margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    margin-top: 70px;
}

form{
	font-size: 25px;
	line-height: 2;
	color: #fff;
	margin-top: 50px;
	padding-bottom: 50px;
}

input{
	background-color: #2f3136;
	font-size: 25px;
	background-color: #2f3136;
	width: 100%;
	height: 75px;
	border:2px solid #4c4f53;
	border-radius: 7px;
	outline: none;
	-moz-appearance: none;
	border: 2px solid #999;	
	font-size: 25px;
}
input:focus{
	border: 2px solid #743538; 
}

.right-contact .message, .form-button{
	float: right;
	margin-bottom: 40px;	
}
.left-contact{
	float: left;	
}

.form-button{
	margin-top: 10px;
	padding: 10px 60px;
	border: 1px solid #be393b;
	border-radius: 7px;
	background-color: #be393b;
	transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.form-button:focus{
	outline: none;
}

.right-contact .message textarea{
	background-color: #2f3136;
	width: 100%;
	height: 200px;
	resize: none;
	border:2px solid #4c4f53;
	border-radius: 7px;
	outline: none;
	-moz-appearance: none;
	border: 2px solid #999; /* указание этого свойства также удалит обводку в FireFox */

}
.message textarea:focus{
	border: 2px solid #743538; 
}

.right-contact .message{
	width: 100%;
	line-height: 2;
	font-size: 25px;
}

 /* //contact */

/*footer*/
footer{
  margin-top: -10px;
	background-color: #2a2d33;
	padding: 20px;
}
 .footer-left{
 	float: left;
 }
.footer_logo{
	width: 27px;
  height: 27px;
	margin-right: 15px;
}

footer .custom-logo-link, b{
	color: #fff;
	font-size: 22px;
  font-weight:400;
}


footer .web{
	color: #8d8d8d;
}

.footer-right{
	float: right;
}
.buttom-social-grids ul li {
    display: inline-block;
    border:none;
	margin: 0px 11px 0px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.buttom-social-grids svg{
	fill: #656566;
	border:2px solid #656566;
	border-radius: 40px;
	width: 40px;
	height: 40px;
	padding: 6px;
	overflow: visible;
}
.buttom-social-grids svg:hover{
	fill: #fff;
	border:2px solid #fff;
	border-radius: 40px;
}
#button {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  border: 3px solid #a2dabf;
  border-radius: 45px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  fill: #a2dabf;
  padding: 6px;
}
#button:hover {
  cursor: pointer;
  border: 3px solid #288558;	
  fill: #288558;
}
#button:active {
	border: 3px solid #288558;
  fill: #288558;
}
#button.show {
  opacity: 1;
  visibility: visible;
}
#button img{
	width: 30px;
}
/*-- //to-top --*/
/* //footer */

/* adaptive */

@media(max-width:1680px){
	
}
@media(max-width:1600px){
	
}
@media(max-width:1440px){
	
}
@media(max-width:1366px){
	
}
@media(max-width:1280px){
	
}

@media(max-width:1263px){
	
    .mail{
    	margin-top: 60px;
    }
}

@media(max-width:1200px){	
	.header-content {
    	margin-top: 100px;
    	padding-bottom: 125px;
    }
    .about .about-text {
    	margin-top: -15px;
    	width: 60%;
    	margin-left: 50px;
    }
    .about-icons{
    	margin-top: 10px;
    }
    .intro-text{
    	margin-top: 50px;
    	padding-bottom: 50px;
    }
    .mail{
    	margin-top: 50px;
    }

}

@media(max-width:1200px){
	.header-content {
    	margin-top: 75px;
    	padding-bottom: 100px;
    }
    .offer-text{
    	margin-top: 75px;
    	margin-bottom: 50px;
    }
    .offer-buttn{
    	margin-top: 50px;
    	margin-bottom: 75px;
    }
    .mail{
    	border: 10px solid #383939;
    	padding: 30px 23px;
    	width: 10em;
    	margin-top: 40px;
    }
    .mail img{
    	width: 74px;
    }
    form{
    	margin-top: 30px;
    }
    .right-contact .message{
    	margin-bottom: 25px;
    }
    header .content-right img{
    	width: 50%;
    	margin-right: 60px;
    }
}
@media (max-width: 992px){
	.recommend{
		left:85%
	}
	.navbar-default .navbar-nav > li > a {
		letter-spacing: 1px;
		padding: 5px 5px;
	}	
	.header-content {
    	margin-top: 65px;
    	padding-bottom: 75px;
    }
    header .content-left{
    	width: 60%;
    }
    header .content-right{
    	margin-top: 85px;
    	width: 200px;
    }
    header .content-right img{
    	width: 100%;
    	margin-right: 0px;
    }
    .about .about-text{
    	display: inline-block;
    	width: 60%;
    	margin-left: 20px;
    }
    .about .about-text h1{
    	padding-bottom: 10px;
    	font-size: 27px;
    }
    .about .about-text h4{
    	font-size: 15px;
    }
    .about img{
    	margin-top: 30px;
    }
    .intro-text h1{
    	font-size: 40px;
    }
    .offer-text h1{
    	font-size: 30px;
    }
    .offer-text h4{
    	margin-top: 15px;
    	width: 100%;
    }
    .price h3 {
    	margin-top: 15px;
    	line-height: 2.3;
	}
	.offer-buttn {
    	margin-top: 40px;
    	margin-bottom: 50px;
	}
	.video-text h3{ 
    	font-size: 26px;
    }
}

@media (max-width: 767px){
	.recommend{
		left:90%
	}
	.navbar-nav {
    	margin: 0px;
    	background: #57b287;  
	}
	.navbar-default .navbar-nav > li:hover{
		background-color: #67bf95;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    float:none !important;
    width: 50%;
    right: 40px;
    text-align: center;
    margin: 0px;
	}
	.nav li{
		padding: 5px 2px;
	}
	.navbar-toggle {

    position: relative;
    padding: 9px 10px;
    top: 0px;
    margin-right:1px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.navbar-default .navbar-toggle {
	margin: 35px;
    border-color:  #67bf95;
	background:  #67bf95;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #57b287;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border:none;
    position: absolute;
    top: 75px;
    border: 1px solid #57b287;
    border-radius: 5px;
	}
	.header-content{
		margin-top: 40px;
	}
	header .content-left {
    	width: 70%;
	}
	.right-contact .message {
   		margin-bottom: 15px;
	}
	.form-button{
		padding: 5px 40px;
	}
	.offer-buttn{
		margin-top: 10px;
	}
	.card{
		position: relative;
		left: 20%;
		right: -50%;
	}
	.third-card{
		float: left;
	}
	.offer-text h1{
		font-size: 25px;
	}
	.offer-text h4{
		font-size: 15px;
		padding: 0 70px;
	}
	.buttom-social-grids ul li{
		margin: 0px 5px 0px;
	}

}

@media (max-width: 697px){
	header .content-left{
		width: 60%;
	}
	.header-content{
		margin-top: 20px;
	}
	header .content-left h1{
		font-size: 30px;
	}
	header .content-left h4{
		font-size: 15px;
	}
	.about img{
		width: 15%;
	}
	.about .about-text{
		width: 65%;
	}
	.about .about-text h1{
		font-size: 26px;
		padding-bottom: 0px;
	}
	.about .about-text h4{
		line-height: 1.5;
	}
	.about-icons{
		margin-top: 0px;
	}
	.about-icons svg{
		width: 40px;
		height: 40px;
	}
	.about-icon2{
		margin-top: 35px;
	}
	.intro-text{
		padding-right: 0px;
		padding-left: 0px;
		margin-top: 25px;
		padding-bottom: 25px;
		width: 4.5em;
	}
	.intro-text h1{
		padding-bottom: 0px;
		font-size: 30px;
	}
	.intro-text h4{
		font-size: 17px;
	}
	.offer-text{
		margin-top: 25px;
		margin-bottom: 25px;
	}
	.footer-left{
		width: 80%;
		display: inline-block;
	}
	.buttom-social-grids ul {
		padding-inline-start: 0px;
	}
	.buttom-social-grids svg {
		margin-left: 0px;
	}
	.video-text h3{
		font-size: 22px;		
	}
	.video-text{
		padding: 0px;
	}
}

@media (max-width: 653px){
	.header-content{
		margin-top: 0px;
	}
	header .content-left > h4{
		font-size: 14px;
		width: 90%;
	}
	.about img{
		margin-top: 40px;
	}
	footer .logo, b{
		font-size: 20px;
	}
	footer img{
		margin-right: 2px;
	}
	footer .web{
		font-size: 12px;
	}
	.footer-left{
		width: 70%;
	}
}
@media (max-width: 586px){
	
	.more-buttn{
		margin-top: 25px;
	}
	.about .about-text{
		width: 70%;
		margin-left: 5px;
	}
	.about .about-text h1{
		font-size: 22px;
	}
	.about .about-text h4{
		font-size: 13px;
	}
	.video-text h3{
		font-size: 18px;
	}
	.mail{
		width: 7.5em;
		padding: 23px 17px;
		margin-top: 25px;
	}
	.mail img{
		width: 50px;
	}
	form{
		font-size: 20px;
	}
	.right-contact .message{
		font-size: 20px;
	}
	input{
		height: 50px;
	}
	.right-contact .message textarea{
		height: 140px;
	}
	.form-button{
		padding: 0px 30px;
		margin-top: 0px;
	}

}
@media (max-width: 530px){
	.header-content{
		padding-bottom: 25px;
	}
	.more-buttn a{
		letter-spacing: 0px;
	}
	header .content-right{
		width:100px;
	}
	header .content-left{
		width:70%;
	}
	.navbar-default .navbar-collapse{
		width: 45%;
	}
	.about{
		margin-top: 25px;
		margin-bottom: 25px;
	}
	.about .about-text h1{
		font-size: 20px;
	}
	.intro-text{
		padding-bottom: 0px;
	}
	.slider__control{
		width: 30px;
		height: 30px;
	}
	.offer-text h1{
		font-size: 20px;
	}
	.offer-text h4{
		font-size: 13px;
		padding: 0 30px;
	}
	footer .web{
		font-size: 10px;
	}
	.slider__item>div{
		line-height: 25px;
	}
	.about img{
		position: absolute;
    	opacity: 50%;
    	width: 25%;
    	margin-top: 0px;
	}
	.about .about-text{
		width: 80%;
	}
}

@media (max-width: 376px){
	header > div.header-top > div > div > h1{
		margin-top: 20px;
		font-size: 25px;
	}
	.navbar-default .navbar-toggle{
		
		margin: 10px;
	}
	.navbar-toggle{		
		padding: 6px 6px;
	}
	header .content-left h1 {
    	font-size: 20px;
    	padding: 0px;
	}
	header .content-left h4{
		font-size: 10px;
	}
	.more-buttn a{
		padding: 5px 20px;
	}
	header .content-right{
		margin-top: 55px;
	}
	.navbar-default .navbar-collapse{
		top: 42px;
		right: 20px;
	}
	.about .about-text{
		width: 75%;
	}
	.about .about-text h1{
		font-size: 17px;
	}
	.about .about-text h4{
		font-size: 10px;
	}
}